<h1>
  <%= @candidate.name %><br/>
  <%= render :partial => 'votation_actions' %>
</h1>


<%= image_tag @candidate.avatar_url, :width => "64" %>

<h2>Aldur</h2> <%= @candidate.years %>
<h2>Titill</h2>
<p>
  <%= @candidate.title %>
</p>
<h2>Menntun / starfsreynsla</h2>
<p>
  <%= @candidate.background %>
</p>
<h2>Hvers vegna býð ég mig fram til stjórnlagaþings?</h2>
<p>
  <%= @candidate.pitch %>
</p>
<% unless @candidate.profiles.blank? %>
  <h2>Af vefnum:</h2>
  <% for p in @candidate.profiles %>
    <%= render :partial => "profile", :locals => {:profile => p} %>
  <% end %>
<% end %>

