<h1>
  <%= @candidate.name %><br/>
  <%= render :partial => 'votation_actions' %>
</h1>


<%= image_tag @candidate.avatar_url, :width => "64" %>

<h2>Age</h2> <%= @candidate.age %>
<h2>Bio</h2>
<p>
  <%= @candidate.bio %>
</p>
<h2>Af vefnum:</h2>
<% unless @candidate.profiles.blank? %>
  <% for p in @candidate.profiles %>
    <%= render :partial => "profile", :locals => {:profile => p} %>
  <% end %>
<% end %>

