<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Stjórnlagaþing 2011</title>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.js"></script>
  <%= javascript_include_tag "jrails" %>
  <%= javascript_include_tag "jquery.jfeed" %>
  <%= javascript_include_tag "jquery.hotkeys" %>
  <%= javascript_include_tag "jquery.datatables.min" %>   
  
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "helper" %>
  <%= stylesheet_link_tag "tables" %>

</head>

<body>
  <div id="coming_soon">
    <%= link_to image_tag('frambjodendur.png'), root_path %>
    
    <%= render :partial => 'shared/header' %>
    
    <%= yield %>

    <%= render :partial => 'shared/footer' %>

  </div>
  <%= render :partial => 'shared/rpx_js' %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-80890-20']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</body>
</html>
